/vendor/
/storage/db/*.sqlite
/storage/logs/*.log
/public/uploads/passports/*
/public/uploads/contracts/*
/public/uploads/receipts/*
!/public/uploads/passports/.gitkeep
!/public/uploads/contracts/.gitkeep
!/public/uploads/receipts/.gitkeep

/config.php
/storage/files/passports/*
/storage/files/contracts/*
/storage/files/receipts/*
!/storage/files/passports/.gitkeep
!/storage/files/contracts/.gitkeep
!/storage/files/receipts/.gitkeep
